* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden; 
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: blue;
  font-size: 4rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*Footer Start*/
.footer-message {
  text-align: center;
  color: blue;
  margin-top: 2rem;
}
/*Footer End*/


/*Home Page Start*/
.btn-home {
  background: rgb(39, 16, 255);
  color: white;
  border: rgb(20, 255, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-out;
  height: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

.btn-home-how {
  background: rgb(233, 150, 30);
  color: white;
  border: rgb(20, 255, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-out;
  height: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

.btn-home:hover, .btn-home-how:hover {
  background: green;
  color: lightgray;
  border: darkgreen;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;            
  justify-content: center; 
  align-items: center;     
  margin-top: 20px; 
}
/*Home Page End*/



/*Square Component Start*/
.square {
  background: rgba(15, 255, 62, 0.8);
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  border: 2px solid gray; 
  border-radius: 0.5rem; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.square:hover {
  background: rgb(27, 255, 255);
}

.square.clicked {
  background: green;
}

/*Square Component End*/



.App {
  height: 100vh;
  background: rgb(147, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Player start*/
.players-form-container {
  justify-items: center;
  text-align: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.end-game-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}

.btn {
  background: rgb(39, 16, 255);
  color: white;
  border: rgb(20, 255, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 0px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-out;
  height: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background: green;
  color: lightgray;
  border: darkgreen;
}

#backBtn {
  background: rgb(233, 150, 30);
  color: white;
  border: rgb(20, 255, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 0px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-out;
  height: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}

#backBtn:hover {
  background: green;
  color: lightgray;
  border: darkgreen;
}
/*Player end*/


/*History Start*/
.win-message {
  color: white;
  font-size: 5rem;
}

.win-history {
  color: blue;
  font-size: 2rem;
  margin: 2rem 0;
}

.game-view {
  text-align: center;
  margin-top: 5rem;
}

.home-container {
  text-align: center;
  margin-top: 20px;
}

.content-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
  align-items: flex-start; 
  margin: 20px 0; 
  padding: 0 20px;
  overflow: hidden; 
}

.history-section {
  flex: 1; 
  margin-right: 20px; 
}

.image-section {
  flex: 1; 
  text-align: right;
}

.image-section img {
  max-width: 100%; 
  height: auto; 
  border-radius: 20px;
}

.button-container {
  margin-top: 20px;
}


.game-history {
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 20px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: Red;
}

.game-history th {
  color: blue;
}
/*History End*/


/*How to Play page start*/
.how-to-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
  max-width: 400px;
  width: 90%;
  margin-top: 50px;
}

.how-to-play h2 {
  text-align: center;
}

.how-to-play ul,
.how-to-play ol {
  padding-left: 20px;
}
/*How to Play page end*/




/* Media Query for screens below 400px */
@media (max-width: 400px) {
  .content-container {
    flex-direction: column; 
    padding: 0; 
  }
  
  .image-section {
    order: 2; 
  }

  .history-section {
    order: 1; 
  }
}
