
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: blue;
  font-size: 3rem;

}

.image-container {
  display: flex;            
  justify-content: center; 
  align-items: center;     
  margin-top: 20px; 
 
}

.image-container img {
  border-radius: 20px;

 
}

.footer-message {
  text-align: center;
  color: blue;
  margin-top: 2rem;
}

.btn-home {
  background: rgb(39, 16, 255);
  color: white;
  border: rgb(20, 255, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3 ease-out;
  height: 2rem;

}

.btn-home:hover {
  background: green;
  color: lightgray;
  border: darkgreen;
 
}

.button-container {
  display: flex;            
  justify-content: center; 
  align-items: center;     
  margin-top: 20px; 
 
}





.square {
  background: rgba(15, 255, 62, 0.8);
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
}

.square:hover {
  background: rgb(27, 255, 255);
}
 
.square.clicked {
  background: green;
}

.App {
  height: 100vh;
  background: rgb(147, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;

}

.players-form-container {
  justify-items: center;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.end-game-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}

.btn {
  background: rgb(39, 16, 255);
  color: white;
  border: rgb(20, 255, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 0px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3 ease-out;
  height: 2rem;
}

.btn:hover {
  background: green;
  color: lightgray;
  border: darkgreen;
}

 {
  background: rgb(39, 16, 255);
  color: white;
  border: rgb(20, 255, 229);
  font-size: 1rem;
  font-weight: 700;
  padding: 0px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3 ease-out;
  height: 2rem;
}

#startBtn:hover {
  background: green;
  color: lightgray;
  border: darkgreen;
}

.win-message {
  color: white;
  font-size: 5rem;

}

.win-history {
  color: blue;
  font-size: 2rem;
  margin: 2rem 0;
}

.game-view {
   text-align: center;
   margin-top: 5rem;
   
}


.home-container {
  text-align: center;
  margin-top: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding: 0 40px;
}

.history-section {
  flex: 1;
  margin-right: 20px;
}

.image-section {
  flex: 1;
  text-align: right;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.button-container {
  margin-top: 20px;
}